<% semantic_form_for [@current_user, @object, @comment] do |f| %>
  <%= f.error_messages %>       
  <% f.inputs @comment do %>
    <p>
      <%= f.input :text, :required => true %>
    </p>
    <p>    
      <%= f.input :user_id, :as => :hidden, :value => @current_user.id %> 
      <%= f.input :commentable_id, :as => :hidden, :value => params[:object_id] %>
      <%= f.input :commentable_type, :as => :hidden, :value => params[:klazz] %>      
    </p>
  <% end %>
  <% f.buttons do %>  
    <p><%= f.commit_button %></p>
  <% end %>
<% end %>
