<% title "Group" %>

<p>
  <strong>Name:</strong>
  <%=h @group.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @group.description %>
</p>
<p>
  <strong>User:</strong>
  <%=h @group.user.name %>
</p>

<p>
  <%= link_to "Edit", edit_user_group_path(@group.user, @group) %> |
  <%= link_to "Destroy", [@group.user, @group], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", user_groups_path(@group.user) %>
</p>
