<% title "Group" %>

<p>
  <strong>Name:</strong>
  <%=h @group.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @group.description %>
</p>
<p>
  <strong>User:</strong>
  <%=h @group.user.name %>
</p>

<% unless @group.members.blank? %>             
  <strong><%= @group.members.count %> members</strong><br />
  <% @group.members.each do |member|%>
    <%= member.name %>
    <br />
  <% end %>
<% end %>
<p>
  <%= render :partial => "shared/comments_view", :locals => {:object => @group}%>
</p>     
<p>  
  <% if @current_user == @group.user %>
    <%= link_to "Edit", edit_user_group_path(@group.user, @group) %> |
    <%= link_to "Destroy", [@group.user, @group], :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to "View All", user_groups_path(@group.user) %>  |  
  <%= link_to_function "Leave a comment" do |page|
        page.insert_html :bottom, :comment, :partial => "shared/comments_form", :object => @group.comments.build, :locals => {:klazz => @group.class.to_s.downcase} 
  end %>  |  
  <%= link_to "Participate", :controller => "groups", :action => "join", :method => :post, :user_id => @current_user.id, :id => @group.id %>  
  
</p>
