<% semantic_form_for @user, :html => {:multipart => true} do |f| %>
  <%= content_tag(:h1, yield(:title))%>        
  <%= f.error_messages %>
  <% f.inputs @user do %> 
    <p>
      <%= f.input :name %>
    </p>
    <p>
      <%= f.input :login %>
    </p>
    <p>
      <%= f.input :email %>
    </p>
    <p>
      <%= f.input :avatar, :as => :file %>
    </p>
    <p>
      <%= f.input :description %>
    </p>
    <p>
      <%= f.input :hometown %>
    </p>
    <p>
      <%= f.input :password, :as => :password %>
    </p>
    <p>
      <%= f.input :password_confirmation, :as => :password %>     
    </p>                     
  <% end %>
  <% f.buttons do %>  
    <p><%= f.commit_button %></p>
  <% end %>
<% end %>
