<% title "Users"%>
<%= content_tag(:h1, yield(:title))%>      
<% for user in @users %>
<div class="object">
  <%= image_tag(user.avatar.url(:thumb), :alt => "avatar", :class => "avatar")%>
 <div class="info">
    <%=content_tag(:strong, link_to(user.name, user)) %>
    <%=content_tag(:p, user.hometown)%>
    <%=content_tag(:p, user.description)%>
    <ul>      
      <%=content_tag(:li, link_to("#{user.videos.count} Videos", user_videos_url(user))) %>
      <%=content_tag(:li, link_to("#{user.musics.count} Musics", user_musics_url(user))) %>
      <%=content_tag(:li, link_to("#{user.documents.count} Documents", user_documents_url(user))) %>  
      <%=content_tag(:li, link_to("#{user.images.count} Images", user_images_url(user))) %>                          
    </ul>
  </div>                                   
  <% if @current_user == user %>
  <div class="links">
    <%= link_to "Edit", edit_user_path(user) %>
    <%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %>
  </div>                                                                                            
  <% end %>
  <div class="clear"></div>
</div>
<% end %>
