<% title "User" %>
<p>
  <%= image_tag(@user.avatar.url(:thumb), :alt => "My Avatar")%>
</p>
<p>
  <strong>Name:</strong>
  <%=h @user.name %>
</p>
<p>
  <strong>Login:</strong>
  <%=h @user.login %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @user.email %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @user.description %>
</p>
<p>
  <strong>Hometown:</strong>
  <%=h @user.hometown %>
</p>
<% if @user.comments_received %>
  <div id="comments">
    <strong><%= @user.comments_received.count %> Comments</strong><br />
    <% @user.comments_received.each do |comment| %>
      <strong><%= comment.user.name %> said:</strong>
      <p>
        <%= comment.text%>
      </p>        
    <% end %>
  </div>
<% end %>
<div id="comment">
</div>
<p>
  <%= link_to("Comments", user_comments_url(@user)) %><br />
  <%= link_to("Groups", user_groups_url(@user)) %><br />    
  <%= link_to("Musics", user_musics_url(@user)) %><br />      
  <%= link_to("Videos", user_videos_url(@user)) %><br />      
  <%= link_to("Images", user_images_url(@user)) %><br />            
  <%= link_to("Documents", user_documents_url(@user)) %><br /> 
  <%= link_to("Events", user_events_url(@user)) %><br />                  
</p>  
<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
  <%= link_to_function "Leave a comment" do |page|
        page.insert_html :bottom, :comment, :partial => "shared/comments_form", :object => @user.comments_received.build, :locals => {:klazz => @user.class.to_s.downcase} 
  end %>
  
</p>
