<% title "Videos" %>
<%= content_tag(:h1, yield(:title))%>   
<% for video in @videos %>
  <div class="object">    
    <div class="info">
       <%= content_tag(:p, link_to(video.name, [video.user, video])) %>
    </div>
    <div class="links">
      <% if @current_user == video.user %>
        <%= link_to "Edit", edit_user_video_path(video.user, video) %>
        <%= link_to "Destroy", [video.user, video], :confirm => 'Are you sure?', :method => :delete %>
      <% end %>  
    </div> 
    <div class="clear"></div>   
  </div>
<% end %>
<p><%= link_to "New Video", new_user_video_path(@current_user) %></p>
