<% title "Video" %>

<p>
  <strong>Name:</strong>
  <%=h @video.name %>
</p>
<p>
  <strong>Author:</strong>
  <%=h @video.author %>
</p>
<p>
  <strong>User:</strong>
  <%=h @video.user.name %>
</p>
<p>
  <strong>Vídeo:</strong>
  
  <%= render :partial => "shared/player", :locals => { :file_url => @video.video.url } %>
</p>
<p>
  <%= render :partial => "shared/comments_view", :locals => {:object => @video}%>
</p>   
<p> 
  <%= rating(@video) %>
</p>
<p>
  <%= render :partial => "shared/vote", :locals => {:object => @video}%>
</p>
<p>
  <% if @current_user == @video.user %>
    <%= link_to "Edit", edit_user_video_path(@video.user, @video) %> |
    <%= link_to "Destroy", [@video.user, @video], :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to "View All", user_videos_path(@video.user) %>  |  
  <%= link_to_function "Leave a comment" do |page|
      page.insert_html :bottom, :comment, :partial => "shared/comments_form", :object => @video.comments.build, :locals => {:klazz => @video.class.to_s.downcase} 
     end %>
</p>
