<% title "Video" %>

<p>
  <strong>Name:</strong>
  <%=h @video.name %>
</p>
<p>
  <strong>Author:</strong>
  <%=h @video.author %>
</p>
<p>
  <strong>User:</strong>
  <%=h @video.user.name %>
</p>

<p>
  <%= link_to "Edit", edit_user_video_path(@video.user, @video) %> |
  <%= link_to "Destroy", [@video.user, @video], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", user_videos_path(@video.user) %>
</p>
