<% semantic_form_for [@current_user, @event] do |f| %>
  <%= f.error_messages %>
  <% f.inputs @event do %>
    <p>
      <%= f.input :name, :required => true %>
    </p>
    <p>
      <%= f.input :description, :as => :text %>
    </p>
    <p>
      <%= f.input :location, :required => true %>
    </p>
    <p>
      <%= f.input :start_time, :required => true %>
    </p>
    <p>
      <%= f.input :end_time, :required => true%>
    </p>
    <p>
      <%= f.input :latitude %>
    </p>
    <p>                                                 
      <%= f.input :longitude %>
    </p>                                                  
  <% end %>
  <% f.buttons do %>  
    <p><%= f.commit_button %></p>
  <% end %>
<% end %>
