<% title "Events" %>
<%= content_tag(:h1, yield(:title))%>   
<% for event in @events %>
  <div class="object">    
    <div class="info">
       <%= content_tag(:p, link_to(event.name, [event.user, event])) %>
    </div>
    <div class="links">
      <% if @current_user == event.user %>
        <%= link_to "Edit", edit_user_event_path(event.user, event) %>
        <%= link_to "Destroy", [event.user, event], :confirm => 'Are you sure?', :method => :delete %>
      <% end %>  
    </div> 
    <div class="clear"></div>   
  </div>
<% end %>
<p><%= link_to "New Event", new_user_event_path(@current_user) %></p>
