<% title "Event" %>

<p>
  <strong>Name:</strong>
  <%=h @event.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @event.description %>
</p>
<p>
  <strong>Local:</strong>
  <%=h @event.location %>
</p>
<p>
  <strong>Start Time:</strong>
  <%=h @event.start_time %>
</p>
<p>
  <strong>End Time:</strong>
  <%=h @event.end_time %>
</p>
<p>
  <strong>Latitude:</strong>
  <%=h @event.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%=h @event.longitude %>
</p>
<p>
  <strong>User:</strong>
  <%=h @event.user.name %>
</p>

<% unless @event.members.blank? %>             
  <strong><%= @event.members.count %> Participants</strong><br />
  <% @event.members.each do |member|%>
    <%= member.name %>
    <br />
  <% end %>
<% end %>

<p>
  <%= render :partial => "shared/comments_view", :locals => {:object => @event}%>
</p>
<p>     
  <% if @current_user == @event.user %>
    <%= link_to "Edit", edit_user_event_path(@event.user, @event) %> |
    <%= link_to "Destroy", [@event.user, @event], :confirm => 'Are you sure?', :method => :delete %> |  
  <% end %>
  <%= link_to "View All", user_events_path(@event.user) %>  |  
  <%= link_to "Participate", :controller => "events", :action => "join", :method => :post, :user_id => @current_user.id, :id => @event.id %>  |  
  <%= link_to_function "Leave a comment" do |page|
        page.insert_html :bottom, :comment, :partial => "shared/comments_form", :object => @event.comments.build
  end %>                                                               
</p>
