<% title "Documents" %>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
  </tr>
  <% for document in @documents %>
    <tr>
      <td><%=h document.name %></td>
      <td><%=h document.user.name %></td>
      <td><%= link_to "Show", [document.user, document] %></td> 
      <% if @current_user == document.user %>
        <td><%= link_to "Edit", edit_user_document_path(@current_user, document) %></td>
        <td><%= link_to "Destroy", [document.user, document], :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Document", new_user_document_path(@current_user) %></p>
