<% title "Albums" %>
<%= content_tag(:h1, yield(:title))%>   
<% for album in @albums %>
  <div class="object">    
    <div class="info">
       <%= content_tag(:p, link_to(album.name, [album.user, album])) %>
    </div>
    <div class="links">
      <% if @current_user == album.user %>
        <%= link_to "Edit", edit_user_album_path(album.user, album) %>
        <%= link_to "Destroy", [album.user, album], :confirm => 'Are you sure?', :method => :delete %>
      <% end %>  
    </div> 
    <div class="clear"></div>   
  </div>
<% end %>
<p><%= link_to "New Album", new_user_album_path(@current_user) %></p>
