<% title "Album" %>

<p>
  <strong>Name:</strong>
  <%=h @album.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @album.description %>
</p>
<p>
  <strong>User:</strong>
  <%=h @album.user.name %>
</p>  

<div id="documents">
<%= list_content(@album.documents, "Documents")%>        
</div>
<div id="document">
</div>
<div id="images">
<%= list_content(@album.images, "Images")%>
</div>
<div id="image">
</div>
<div id="videos">
<%= list_content(@album.videos, "Videos")%>
</div>
<div id="video">
</div>
<div id="musics">
<%= list_content(@album.musics, "Musics")%>
</div>
<div id="music">
</div>

<p>  
  <% if @current_user == @album.user %>
    <%= link_to "Edit", edit_user_album_path(@album.user, @album) %> |
    <%= link_to "Destroy", [@album.user, @album], :confirm => 'Are you sure?', :method => :delete %> |     
    <%= link_to_function "Add Video" do |page| 
           page.insert_html :bottom, :video, :partial => "videos"
         end %>  |  
  <% end %>
  <%= link_to "View All", user_albums_path(@album.user) %>
 
</p>
