<% title "Album" %>

<p>
  <strong>Name:</strong>
  <%=h @album.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @album.description %>
</p>
<p>
  <strong>User:</strong>
  <%=h @album.user.name %>
</p>
<% unless @album.documents.blank? %>             
  <strong><%= @album.documents.count %> documents</strong><br />
  <% @album.documents.each do |document|%>
    <%= document.name %>
    <br />
  <% end %>
<% end %>
<% unless @album.images.blank? %>             
  <strong><%= @album.images.count %> images</strong><br />
  <% @album.images.each do |image|%>
    <%= image.name %>
    <br />
  <% end %>
<% end %>
<% unless @album.videos.blank? %>             
  <strong><%= @album.videos.count %> videos</strong><br />
  <% @album.videos.each do |video|%>
    <%= video.name %>
    <br />
  <% end %>
<% end %>
<% unless @album.musics.blank? %>             
  <strong><%= @album.musics.count %> musics</strong><br />
  <% @album.musics.each do |music|%>
    <%= music.name %>
    <br />
  <% end %>
<% end %>  
<p>
  <%= link_to "Edit", edit_user_album_path(@album.user, @album) %> |
  <%= link_to "Destroy", [@album.user, @album], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", user_albums_path(@album.user) %>
</p>
