<% semantic_form_for [@current_user, @music], :html => {:multipart => true} do |f| %>
  <%= content_tag(:h1, yield(:title))%>      
  <%= f.error_messages %>
  <% f.inputs @music do %>
    <p>
      <%= f.input :name %>
    </p>
    <p>
      <%= f.input :author, :required => false %>
    </p>
    <p>
      <%= f.input :music, :as => :file, :required => true %>
    </p>
  <% end %>
  <% f.buttons do %>  
    <p><%= f.commit_button %></p>
  <% end %>
<% end %>
