<% title "Musics" %>

<table>
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>User</th>
  </tr>
  <% for music in @musics %>
    <tr>
      <td><%=h music.name %></td>
      <td><%=h music.author %></td>
      <td><%=h music.user.name %></td>
      <td><%= link_to "Show", [music.user, music] %></td>  
      <% if @current_user == music.user %>
        <td><%= link_to "Edit", edit_user_music_path(music.user, music) %></td>
        <td><%= link_to "Destroy", [music.user, music], :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Music", new_user_music_path(@current_user) %></p>
