<% title "Musics" %>
<%= content_tag(:h1, yield(:title))%>   
<% for music in @musics %>
  <div class="object">    
    <div class="info">
       <%= content_tag(:p, link_to(music.name, [music.user, music])) %>
    </div>
    <div class="links">
      <% if @current_user == music.user %>
        <%= link_to "Edit", edit_user_music_path(music.user, music) %>
        <%= link_to "Destroy", [music.user, music], :confirm => 'Are you sure?', :method => :delete %>
      <% end %>  
    </div> 
    <div class="clear"></div>   
  </div>
<% end %>
<p><%= link_to "New Music", new_user_music_path(@current_user) %></p>
