<% title "Music" %>

<p>
  <strong>Name:</strong>
  <%=h @music.name %>
</p>
<p>
  <strong>Author:</strong>
  <%=h @music.author %>
</p>
<p>
  <strong>User:</strong>
  <%=h @music.user.name %>
</p>           
<p>
  <%= render :partial => "shared/player", :locals => {:file_url => @music.music.url} %>
</p>
<p>
  <%= render :partial => "shared/comments_view", :locals => {:object => @music}%>
  <%= link_to_function "Leave a comment" do |page|
        page.insert_html :bottom, :comment, :partial => "shared/comments_form", :object => @music.comments.build, :locals => {:klazz => @music.class.to_s.downcase} 
  end %>
</p>
<p> 
  <%= rating(@music) %>
</p>
<p>
  <%= render :partial => "shared/vote", :locals => {:object => @music}%>
</p> 
<%= render :partial => "shared/add_this" %>          
<p>
  <% if @current_user == @music.user %>
    <%= link_to "Edit", edit_user_music_path(@music.user, @music) %> |
    <%= link_to "Destroy", [@music.user, @music], :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to "View All", user_musics_path(@music.user) %>
</p>
