<% title "Image" %>

<p>
  <strong>Name:</strong>
  <%=h @image.name %>
</p>
<p>
  <strong>Author:</strong>
  <%=h @image.author %>
</p>
<p>
  <strong>User:</strong>
  <%=h @image.user.name %>
</p>

<p>
  <%= link_to "Edit", edit_user_image_path(@image.user, @image) %> |
  <%= link_to "Destroy", [@image.user, @image], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", user_images_path(@image.user) %>
</p>
